{% load staticfiles %}
{% load sitetree %}
{% load gravatar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img id="fh-navbar-logo" src="{% static 'img/favicon_24x24.png' %}">
                FamilyHelper
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {% sitetree_menu from 'navbar' include "trunk" template "sitetree/menu_bootstrap3.html" %}

            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <img class="hidden-md" src="{% gravatar_url user.email 24 %}" id="fh-navbar-avatar">
                    </li>
                    <li>
                        <p class="navbar-text ">{{ user.email|default:user }}</p>
                    </li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fa fa-sign-out"></i> Log
                        out</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>