{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bootstrap-tagsinput/src/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'finances/css/finances.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'bootstrap-tagsinput/src/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'finances/js/finances.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">
            {% block finances_content %}{{ block.super }}{% endblock %}
        </div>
    </div>
{% endblock %}