{% extends 'finances/layout.html' %}
{% load gravatar %}
{% load humanize %}

{% block content %}

    {% include 'finances/payment_summary.html' with summary=summary link='finances:payments_list' filter=filter add=True %}

    <div class="row">
        <div class="col-md-3 col-md-push-9">

            <!------------------- FILTERS ------------------->
            {% include 'finances/payment_filter.html' with form=form action='finances:payments_list' cancel='finances:payments_list' %}
        </div>

        <!------------------- LIST ------------------->
        <div class="col-md-9 col-md-pull-3">

            {% if object_list|length %}

                <table class="table table-striped table-hover">

                    {% include 'partials/thead.html' with thead=thead link='finances:payments_list' %}

                    <tbody>
                    {% for payment in object_list %}
                        <tr class="{{ payment.is_incoming|yesno:"success," }}">
                            <td>
                                {% for tag in payment.tags.all %}
                                    <a href="{% url 'finances:payments_list' %}?include_tags={{ tag.id }}&filter=1&begin={{ filter.begin|date:'Y-m-d' }}&end={{ filter.end|date:'Y-m-d' }}"
                                       class="btn btn-info btn-xs tag-link">{{ tag }}</a>&nbsp;
                                {% endfor %}
                            </td>
                            <td class="text-right {{ payment.is_incoming|yesno:"text-success," }}">
                                {{ payment.amount|intcomma }}
                            </td>
                            <td class="hidden-xs">{{ payment.date|naturalday }} {{ payment.date|date:'H:i' }}</td>
                            <td class="text-center hidden-xs">
                                {% if payment.is_incoming %}<i class="fa fa-check text-success"></i>{% endif %}
                            </td>
                            <td class="text-center">
                                <img src="{% gravatar_url payment.created_by|default:'' 24 %}"
                                     title="{{ payment.created_by|default:"anonym" }}" data-toggle="tooltip"
                                     data-placement="left"
                                     class="img-circle">
                            </td>
                            <td class="text-right">
                                <div class="btn-group" role="group">
                                    {% if perms.finances.change_payment %}
                                        <a href="{% url 'finances:payment_update' payment.id %}"
                                           class="btn btn-xs btn-success">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.finances.delete_payment %}
                                        <a href="{% url 'finances:payment_delete' payment.id %}"
                                           class="btn btn-xs btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include 'partials/pagination.html' with link="finances:payments_list" %}

            {% else %}
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-circle"></i> Payments not found.
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}