{% extends 'finances/layout.html' %}
{% load bootstrap3 %}
{% load gravatar %}

{% block content %}
    <div class="well">

        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% if payment %}
                <div class="alert alert-warning">
                   <img src="{% gravatar_url payment.created_by|default:'' 24 %}" class="img-circle"> &nbsp;
                   Created at {{ payment.date }} by {{ payment.created_by|default:"anonym" }}
                </div>
            {% endif %}

            {% buttons %}
                <button type="submit" class="btn btn-success">
                    {% bootstrap_icon "ok-circle" %} Save payment
                </button>
                <a href="{%  url 'finances:payments_list' %}" class="btn btn-default">
                    {% bootstrap_icon "remove-circle" %} Cancel
                </a>
                {% if payment %}
                    <a href="{%  url 'finances:payments_list' %}" class="btn btn-danger pull-right">
                        {% bootstrap_icon "trash" %} Delete payment
                    </a>
                {% endif %}
            {% endbuttons %}
        </form>
    </div>

{% endblock %}