{% load bootstrap3 %}
<div class="panel panel-default">
    <div class="panel-heading clickable panel-collapsible" id="payment-filter">
        <h3 class="panel-title">Filters</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
        <form action="{% url action %}" method="get">
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" name="filter" value="1" class="btn btn-primary">
                    {% bootstrap_icon "filter" %} Filter
                </button>
                <a href="{% url cancel %}" class="btn btn-default">
                    {% bootstrap_icon "remove-circle" %} Cancel
                </a>
            {% endbuttons %}
        </form>
    </div>
</div>