{% extends 'finances/layout.html' %}
{% load avatar %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block finances_content %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        {% include 'partials/entry_info.html' with entry=payment %}

        {% include 'partials/entry_buttons.html' with entry=payment title='payment' list_url='finances:payments_list' delete_url='finances:payment_delete' delete_permission=perms.finances.delete_payment %}
    </form>

{% endblock %}