{% load bootstrap3 %}

{% include 'partials/box_widget_begin.html' with header='Filter' id='finances-filter-form-widget' %}
<form action="{% url action %}" method="get">
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" name="filter" value="1" class="btn btn-primary  margin-right-sm">
            {% bootstrap_icon "filter" %} Filter
        </button>
        <a href="{% url cancel %}" class="btn btn-default">
            {% bootstrap_icon "ban-circle" %} Cancel
        </a>
    {% endbuttons %}
</form>
{% include 'partials/box_widget_end.html' %}