{% extends 'meta.html' %}
{% load sitetree %}

{% block body %}
    {% with 'skin-blue sidebar-mini' as body_classes %}{{ block.super }}{% endwith %}
{% endblock body %}

{% block body_content %}
    <div class="wrapper" id="fh-main-container">

        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}

        {% block sidebar %}
            {% include "partials/sidebar.html" %}
        {% endblock %}

        <!-- Content Wrapper. -->
        <div class="content-wrapper">
            <!-- Content Header -->

            {% block content_header %}
            <section class="content-header">
                {% block tilte %}
                <h1>
                    {% sitetree_page_title from "navbar" %}
                    <small>{% block small_tilte %}{% endblock %}</small>
                </h1>
                {% endblock %}

                {% block breadcrumb %}
                    {% sitetree_breadcrumbs from 'navbar' template "sitetree/breadcrumbs_bootstrap3.html" %}
                {% endblock %}

            </section>
            {% endblock %}

            <!-- Main content -->
            <section class="content">

                <!-- Messages -->
                {% block messages %}
                    <div id="fh-messages">
                        {% for message in messages %}
                            <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
        </div>

        {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1.0
            </div>
            <strong>Copyright &copy; 2015-{% now "Y" %} <a href="{% url 'index' %}">FamilyHelper</a>.</strong>
            All rights reserved.
        </footer>
        {% endblock %}

    </div>

{% endblock %}
