{% if lib %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endif %}
<script type="text/javascript">
    /*jslint browser: true*/
    /*global google*/
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable({{ data|safe|escape }});
        var formatter = new google.visualization.NumberFormat();
        var dateFormatter = new google.visualization.DateFormat({pattern: 'd MMMM, yyyy'});
        dateFormatter.format(data, 0);
        formatter.format(data, 1);
        var options = {
            title: "{{ title|default:''}}",
            is3D: true,
            width: 840,
            height: 600,
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.{{ type }}(document.getElementById('analytics-chart-{{ id }}'));
        chart.draw(data, options);
    }
</script>
<div id="analytics-chart-{{ id }}"></div>