{% extends 'users/profile_layout.html' %}
{% load crispy_forms_tags %}

{% block tabs %}
    {% with 'security' as tab %}{{ block.super }}{% endwith %}
{% endblock tabs %}

{% block profile_content %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success margin-right-sm">
            <i class="fa fa-check-circle-o"></i><span class="margin-left-sm">Update password</span>
        </button>
        <a href="{% url 'users:profile' %}" class="btn btn-default">
            <i class="fa fa-ban"></i><span class="hidden-xs margin-left-sm">Cancel</span>
        </a>
    </form>

{% endblock %}