{% extends 'users/profile_layout.html' %}
{% load bootstrap3 %}

{% block tabs %}
  {% with 'security' as tab %}{{block.super}}{% endwith %}
{% endblock tabs %}

{% block profile_content %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-success margin-right-sm">
                {% bootstrap_icon "ok-circle" %} Update password
            </button>
            <a href="{% url 'users:profile' %}" class="btn btn-default">
                {% bootstrap_icon "remove-circle" %} Cancel
            </a>
        {% endbuttons %}
    </form>

{% endblock %}