{% extends 'users/profile_layout.html' %}
{% load bootstrap3 %}
{% load avatar_tags %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/avatar.css' %}">
{% endblock %}

{% block profile_content %}

    {% if not avatars %}
        <div class="alert alert-warning">You haven't uploaded an avatar yet. Please upload one now.</div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">Choose default avatar</div>
            <div class="panel-body">
                <form method="POST" action="{% url 'avatar_change' %}" id="avatar-choose-form">
                    {% csrf_token %}
                    <ul>
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    {% buttons %}
                        <button type="submit" class="btn btn-default margin-right-sm">
                            {% bootstrap_icon "ok-circle" %} Set default
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">Upload new avatar</div>
        <div class="panel-body">
            <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" class="form">
                {% csrf_token %}
                {% bootstrap_form upload_avatar_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-success margin-right-sm">
                        {% bootstrap_icon "ok-circle" %} Upload avatar
                    </button>
                    <a href="{% url 'users:profile' %}" class="btn btn-default">
                        {% bootstrap_icon "remove-circle" %} Cancel
                    </a>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}