body {
    padding-top: 70px;
    height: 100%
}
.container-fluid {
  max-width: 1600px;
}
#fh-navbar-logo {
    display: inline-block;
    margin: 0px 2px 3px 0px;
}
#fh-navbar-avatar {
    padding: 0px;
    margin: 13px 0px 0px 0px;
}
.breadcrumb {
    margin-bottom: 20px;
}