body {
    padding-top: 70px;
    height: 100%
}
.container-fluid {
  max-width: 1600px;
}
#fh-navbar-logo {
    display: inline-block;
    margin: 0px 2px 3px 0px;
}
#fh-navbar-avatar {
    padding: 0px;
    margin: 13px 0px 0px 0px;
}
.breadcrumb {
    margin-bottom: 20px;
}

/******************* FORMS ***********************/

.bootstrap-tagsinput {
    display: block !important;
}
.checkbox label {
    padding-left: 0px;
}

.bootstrap-switch-wrapper {
    margin-right: 10px;
}
/******************* TABLES ***********************/

.td-xs {
    width: 50px;
}
.td-sm {
    width: 100px;
}
.td-md {
    width: 200px;
}
