.channels-category ul li {
    display: inline-block;
    margin-left: 10px;
}
.channels-category ul {
    margin: 0px;
    padding: 0px;
}
.channels-category {
    margin-bottom: 20px;
}

.channels-category .favorite-channel a{
    font-size: 120%;
    font-weight: bold;
}