{% extends 'tv/layout.html' %}
{% load crispy_forms_tags %}

{% block tv_content %}
    {{ channel.code|safe }}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success margin-right-sm">
            <i class="fa fa-check-circle-o"></i><span class="margin-left-sm">Save channel</span>
        </button>
        <a href="{% url 'tv:channels_list' %}" class="btn btn-default">
            <i class="fa fa-ban"></i><span class="hidden-xs margin-left-sm">Cancel</span>
        </a>
    </form>

{% endblock %}