{% extends 'tv/layout.html' %}
{% load crispy_forms_tags %}

{% block tv_content %}
    {% if channel.alternative_code %}
    <h3>Main player</h3>
    {% endif %}
    {{ channel.code|safe }}
    {% if channel.alternative_code %}
        <h3>Alternative player</h3>
        {{ channel.alternative_code|safe }}
    {% endif %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success margin-right-sm">
            <i class="fa fa-check-circle-o"></i><span class="margin-left-sm">Save channel</span>
        </button>
        <a href="{% url 'tv:channels_list' %}" class="btn btn-default">
            <i class="fa fa-ban"></i><span class="hidden-xs margin-left-sm">Cancel</span>
        </a>
    </form>

{% endblock %}