DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'fh',
        'USER': 'fh',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1']
DEBUG = False

